{
    "server_id"                     : "AndruavLap",
    "server_ip"                     : "0.0.0.0",
    "public_host"                   : "droneengageserver-production.up.railway.app",
    "server_sid"                    : 0,
    "server_port"                   : 9966,
    "enable_SSL"                    : false,
    "dbIP"                          : "localhost",
    "dbuser"                        : "DBUSER",
    "dbpassword"                    : "DBPASSWORD",
    "dbdatabase"                    : "andruav",
    "s2s_ws_target_ip"              : "meticulous-respect-production.up.railway.app",
    "s2s_ws_target_port"            : 443,
    "ssl_key_file"                  : "./ssl/domain.key",
    "ssl_cert_file"                 : "./ssl/domain.crt",
    "allow_fake_SSL"                : false,
    "ca_cert_path"                  : "./ssl/root.crt",
    "ignoreLoadingTasks"            : true,
    "allow_udpproxy_fixed_port"     : true,
    "ignoreLog"                     : true,
    "log_directory"                 : "./logs/",
    "log_timeZone"                  : "GMT",
    "log_detailed"                  : false,
    "ws_compression"                : false,
    "memory_max"                    : 973
}